.wrapper{
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  background-color: #232323;
}

.content{
  display: flex;
}

.someText{

  p{
    color: white;
  }
}

.productsRight{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-item {
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc(25% - 10px);
  background: #fff;
  padding: 1rem;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;

  &--width{
    width: 100%;
  }

  &__img {
    max-width: 100%;
  }

  &__title{
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0.5rem 0;

    &--oldVersion{
      text-decoration: underline;
    }
  }

  &__price {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    &--sale{
      font-size: 1.4rem;
      color: #6cc372;
      font-weight: bold;
    }
  }

  &__btn{
    background: #fc5c3c;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }
}
